    <!-- ### HOME PAGE ### -->
    <div class="container">
        <h1>HOME</h1>
        <p>
            Bem-Vindo
            <strong class="text-info">NOME</strong>
            ao melhor App de Lista de Compras
        </p>
    </div>
