  <!-- ### REGISTER FORM ### -->
  <div ng-controller="AcessoController as vm" class="row justify-content-center align-items-center login-row">
    <div class="col">
        <div class="container mx-auto py-5 mt-5 jumbotron" style="width: 600px;">
            <h3 class="text-center text-uppercase">Cadastrar</h3>
            <form name="vm.cadForm" ng-submit="vm.logado = true;">
                <div class="form-group">
                    <label>Nome Completo</label>
                    <input class="form-control" type="text" name="nomeCompleto" ng-model="vm.user.nome"
                           ng-required="true" placeholder="Nome completo">
                    <small ng-show="vm.cadForm.nomeCompleto.$error.required && vm.validar"
                           class="form-text text-danger">
                        Campo obrigatório!
                    </small>
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input class="form-control" type="email" name="email" ng-model="vm.user.email"
                           ng-required="true" placeholder="Endereço de e-mail">
                    <small ng-show="vm.cadForm.email.$error.required && vm.validar"
                           class="form-text text-danger">
                        Campo obrigatório!
                    </small>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username" ng-model="vm.user.username"
                           ng-required="true" placeholder="Username">
                    <small ng-show="vm.cadForm.username.$error.required && vm.validar"
                           class="form-text text-danger">
                        Campo obrigatório!
                    </small>
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input class="form-control" type="password" name="password"
                           ng-model="vm.user.password" ng-required="true" placeholder="Senha">
                    <small ng-show="vm.cadForm.password.$error.required && vm.validar"
                           class="form-text text-danger">
                        Campo obrigatório!
                    </small>
                    <small ng-show="vm.user.password !== vm.user.password2 && (vm.user.password && vm.user.password2)"
                           class="form-text text-danger">
                        <span>As senha devem ser iguais!</span>
                    </small>
                </div>
                <div class="form-group">
                    <label>Confirmar Senha</label>
                    <input class="form-control" type="password" name="password2"
                           ng-model="vm.user.password2" ng-required="true" placeholder="Senha">
                    <small ng-show="vm.cadForm.password2.$error.required && vm.validar"
                           class="form-text text-danger">
                        <span>Campo obrigatório</span>
                    </small>
                    <small ng-show="vm.user.password !== vm.user.password2 && (vm.user.password && vm.user.password2)"
                           class="form-text text-danger">
                        <span>As senha devem ser iguais!</span>
                    </small>
                </div>
                <button class="btn btn-primary mb-1" type="submit" ng-click="vm.validar = true;">
                    Cadastrar
                </button>
            </form>
        </div>
    </div>
</div>