<!doctype html>
<html ng-app="listaTarefasApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
      <div class="mx-auto mt-5 jumbotron" style="width: 500px;">
        <h1> lista de tarefas</h1>
        <div ng-controller="listaTarefasController as vm">
            <div class="mb-2">
                Restam {{vm.restam()}} de {{vm.tarefas.length}}
                [<a href="" ng-click="vm.arquivar()">arquivar</a>]
            </div>
            <ul class="unstyled">
                <li ng-repeat="trf in vm.tarefas">
                  <label class="checkbox">
                    <input type="checkbox" ng-model="trf.feito">
                    <span class="feito-{{trf.feito}}">{{trf.text}}</span>
                  </label>
                </li>
              </ul>

              <form ng-submit="vm.addTarefa()">
                  <div class="form-group">
                    <input type="text" ng-model="vm.tarefaText"  size="30"
                        placeholder="add new todo here">
                    <input class="btn-primary" type="submit" value="add">
                  </div>
              </form>

        </div>
    <script src="lista-tarefas.js"></script>
  </body>
</html>
