<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  </head>
  <body>

      <div id ="app1">
      <div ng-controller = "controlador1">
        <h1>Hello {{ nome }}!</h1>
        <input type="text" ng-model="nome" placeholder="Enter a name here">
      </div>
    </div>
    
    <div id ="app2">
        <div ng-controller = "controlador2">
            <h1>contador</h1>
            <h1>{{contador}}</h1>
            <button ng-click="contador = contador + 1"> add +1</button>
            <button ng-click="contador = contador - 1"> sub -1</button>
        </div>
    </div> 

    <script src="angular2.js"></script>
  </body>
</html>
