<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="angular.js"></script>
  </head>
  <body ng-app="myApp">

    <div ng-controller="myCtrl">
      <p>Click the button to run a function:</p>
      <button ng-click="myFunc()">OK</button>
      <p>The button has been clicked {{count}} times.</p>
    </div>
      

  </body>
</html>