<!doctype html>
<!-- FALAR DO NG-APP -->
<html lang="pt-BR" ng-app="listaComprasApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compras App</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
    <link rel="stylesheet" href="lista-compras.css">
    <script src="http://localhost:35729/livereload.js"></script>

    <script src="vendor/angular/angular.js"></script> <!-- -->
    <script src="vendor/angular-route/angular-route.js"></script> 

    <script src="lista-compras.module.js"></script>
    <script src="lista-compras-routes.js"></script>
    <script src="lista-compras.service.js"></script>

    <script src="header.controller.js"></script>
    <script src="acesso/acesso.controller.js"></script>
</head>

<body>
    <header ng-include= "'./header.tpl.html'"></header>

    <!-- ### ESPAÇO ALERTAS ### -->
    <div id="alertas" class="container" ng-show="listaMensagens.length">
        <div ng-repeat="msg in listaMensagens" class="alert alert-{{msg.tipo}}" role="alert">
            {{msg.text}}
            <button type="button" class="close" aria-label="Close"
                    ng-click="listaMensagens.splice($index, 1)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

  <ng-view></ng-view>  <!-- vai redenrizar de acordo com as rotas  -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>

</html>